@import "fonts";
@import 'variables';

.button-blue, a.button-blue {
  background-color: $blue;
  color: #fff;
  height: 55px;
  width: 265px;
  font-size: 14px;
  font-weight: var(--font-weight--semibold);
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;

  @include for-desktop {
    height: 65px;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}


